<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBackground">
    <div class="pageContent">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="banner">
              <strong>GreenGraph PhotoApp</strong>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="info">
              <p>Your favourite photos in one place.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
