<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBackground">
    <div class="pageContent">
      <ion-grid>
        <ion-row>
          <!-- ngFor runs through all saved photos, size 12 so each photo fills the row -->
          <ion-col size="12" *ngFor="let photo of photoService.photos">
            <!-- ngIf checks for photos marked as favourite -->
            <ion-img *ngIf="photo.favourite == true" class="photo" [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
