<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery - Tap to favourite!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBackground">
    <div class="pageContent">
      <ion-grid>
        <ion-row>
          <!-- ngFor runs through all saved photos, size 3 so you get 4 photos per row -->
          <ion-col size="3" *ngFor="let photo of photoService.photos; index as position">
            <!-- ngClass adds a class to the photo depending on whether it's marked as favourite or not -->
            <!-- (click) calls the function when the photo is clicked -->
            <ion-img class="photo" [ngClass]="{'regular': photo.favourite == false, 'fav': photo.favourite == true}" [src]="photo.webviewPath" (click)="makeFavourite(this.position)"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>